<h4>Order toevoegen</h4>
<div>
  <select id="employeeslist">
    <option value="" disabled selected>Selecteer je naam</option>
    <option *ngFor="let employee of employees" [ngValue]="employee">{{employee.firstName}} {{employee.lastName}}</option>
  </select>
  <br><br>
  <select id="drinkslist">
    <option value="" disabled selected>Selecteer je keuze</option>
    <option *ngFor="let drink of drinks" [ngValue]="drink">{{drink.name}}</option>
  </select>
  <br><br>
  <label>Hoeveelheid suiker:
    <input type="number" #sugarAmount placeholder="0">
  </label>
  <br><br>
  <label>Hoeveelheid melk:
    <input type="number" #milkAmount placeholder="0">
  </label>
  <br><br>
  <button (click)="addOrder(employee, drink, sugarAmount.value, milkAmount.value);
    employee = null; drink = null; sugarAmount.value=0; milkAmount.value=0;">
    Toevoegen
  </button>
  <button (click)="goBack()">Terug</button>
</div>
