<br>
<h2>Bestellingen koffie automaat</h2>

<ul class="orders">
  <li *ngFor="let order of orders">
    <a routerLink="/order-detail/{{order.id}}">
      <span class="badge">&#9679;</span>{{order.employee.firstName}} {{order.employee.lastName}}, {{order.drink.name}},
      suiker: {{order.sugarAmount}}, melk: {{order.milkAmount}}
    </a>
    <button class="delete" title="delete order"
      (click)="deleteOrder(order)">x</button>
  </li>
</ul>
<br><br>

<h4>Order toevoegen</h4>
<div>
  <label>Selecteer je naam</label>
  <br>
  <select [(ngModel)]="employee" id="employeeslist" (change)="onEmployeeChange(employee)">
    <option *ngFor="let employee of employees" [ngValue]="employee">{{employee.firstName}} {{employee.lastName}}</option>
  </select>
  <br><br>
  <label>Selecteer je keuze</label>
  <br>
  <select [(ngModel)]="drink" id="drinkslist" (change)="onDrinkChange(drink)">
    <option *ngFor="let drink of drinks" [ngValue]="drink">{{drink.name}}</option>
  </select>
  <br><br>
  <label>Hoeveelheid suiker:<br>
    <input type="number" #sugarAmount>
  </label>
  <br><br>
  <label>Hoeveelheid melk:<br>
    <input type="number" #milkAmount>
  </label>
  <br><br>
  <button (click)="addOrder(sugarAmount.value, milkAmount.value); sugarAmount.value=0; milkAmount.value=0;">
    Toevoegen
  </button>
</div>
