<h3>WIP: Edit this page to show all current orders!</h3>
<!--
<div class="grid grid-pad">
  <a *ngFor="let drink of drinks" class="col-1-4"
      routerLink="/drink-detail/{{drink.id}}">
    <div class="module drink">
      <h4>{{drink.name}}</h4>
    </div>
  </a>
</div>
-->

<ul class="orders">
  <li *ngFor="let order of orders">
    <a routerLink="/order-detail/{{order.id}}">
      <span class="badge">&#9679;</span>{{order.employee.firstName}} {{order.employee.lastName}}, {{order.drink.name}},
      suiker: {{order.sugarAmount}}, melk: {{order.milkAmount}}
    </a>
    <button class="delete" title="delete order"
      (click)="deleteOrder(order)">x</button>
  </li>
</ul>
<br><br>

<h4>Order toevoegen</h4>
<div>
  <select [(ngModel)]="employee" id="employeeslist" (change)="onEmployeeChange(employee)">
    <option value="" disabled selected>Selecteer je naam</option>
    <option *ngFor="let employee of employees" [ngValue]="employee">{{employee.firstName}} {{employee.lastName}}</option>
  </select>
  <br><br>
  <select [(ngModel)]="drink" id="drinkslist" (change)="onDrinkChange(drink)">
    <option value="" disabled selected>Selecteer je keuze</option>
    <option *ngFor="let drink of drinks" [ngValue]="drink">{{drink.name}}</option>
  </select>
  <br><br>
  <label>Hoeveelheid suiker:
    <input type="number" #sugarAmount placeholder="0">
  </label>
  <br><br>
  <label>Hoeveelheid melk:
    <input type="number" #milkAmount placeholder="0">
  </label>
  <br><br>
  <button (click)="addOrder(sugarAmount.value, milkAmount.value); sugarAmount.value=0; milkAmount.value=0;">
    Toevoegen
  </button>
</div>
